@using Gallerio.Web.Services.LayoutConfiguration
@using Gallerio.Web.Shared.Molecules
@inherits LayoutComponentBase
@inject ILayoutConfigurationService _layoutConfigurationService
@implements IDisposable

<PageTitle>Gallerio</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <Breadcrumbs></Breadcrumbs>
        </div>

        <article class="content px-4 @(NoPadding ? "no-padding" : string.Empty)">
            @Body
        </article>
    </main>
</div>


@code {
    public bool NoPadding { get; set; }

    protected override void OnInitialized()
    {
        _layoutConfigurationService.StateChanged += StateChanged;
    }

    public void StateChanged()
    {
        NoPadding = _layoutConfigurationService.NoPadding;
        StateHasChanged();
    }

    public void Dispose()
    {
        _layoutConfigurationService.StateChanged -= StateChanged;
    }
}