@page "/galleries"
@using Gallerio.Api.Dtos
@inject HttpClient Http
@inject Gallerio.Web.Client.Services.Breadcrumbs.IBreadcrumbsProvider _breadcrumbsProvider
@inject NavigationManager _navManager

<PageTitle>Galerie</PageTitle>

<h1>Galerie</h1>

@if (galleries == null)
{
    <p><em>Načítám...</em></p>
}
else
{
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
        @foreach (var gallery in galleries)
        {

            <div class="col">
                <div class="card" @onclick="() => GoToGallery(gallery.Id)">
                    <img src="/images/test-image.jpg" class="card-img-top gallery-card" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@gallery.Name</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private GalleryDto[]? galleries;

    private void GoToGallery(Guid id)
    {
        _navManager.NavigateTo($"/galleries/{id}");
    }

    protected override async Task OnInitializedAsync()
    {
        galleries = await Http.GetFromJsonAsync<GalleryDto[]>("https://localhost:7173/api/Gallery");
        _breadcrumbsProvider.Clear();
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("/", "Home", false));
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("Galleries", "Galerie", true));
    }
}
