
#grid-container {
    --grid-container-meta-height: 10rem;
    --grid-container-list-width: 25rem;
    display: grid;
    grid-template-columns: var(--grid-container-list-width) auto;
    grid-template-rows: auto var(--grid-container-meta-height);
    grid-template-areas:
        "a b"
        "d c";
    height: calc(100vh - 3.5rem);
    max-height: calc(100vh - 3.5rem);
    min-height: calc(100vh - 3.5rem);
}

#grid-container-list {
    grid-area: a;
    overflow-y: scroll;
    border-right: 1px solid #d6d5d5;
}

#grid-container-image {
    background-color: #f7f7f7;
    grid-area: b;
    max-height: calc(100vh - 3.5rem - var(--grid-container-meta-height));
    padding: 5px;
}

    #grid-container-image img {
        max-width: 100%;
        max-height: 100%;
    }

#grid-container-meta {
    grid-area: c;
    border-top: 1px solid #d6d5d5;
}

    #grid-container-meta .badge {
        cursor:pointer;
        font-size: 15px;
            
    }


    #grid-container-meta .input-group {
        max-width: 200px;
    }


#grid-container-controls {
    grid-area: d;
    background-color: #f7f7f7;
    border-right: 1px solid #d6d5d5;
    border-top: 1px solid #d6d5d5;
}

    #grid-container-controls > div {
        font-size: 30px;
        border: 1px solid #d6d5d5;
        padding: 0.4rem;
        margin: 0.1rem;
        border-radius: 5px;
        min-width: 40px;
        background-color: white;
        cursor: pointer
    }

        #grid-container-controls > div:hover {
            background-color: #f7f7f7;
        }


#grid-container-list .card-subtitle {
    font-size: 12px;
}

#grid-container-list .card {
    cursor: pointer;
}

    #grid-container-list .card.selected {
        background-color: rgba(0, 0, 0, 0.1);
    }

    #grid-container-list .card:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }


.grid-container-meta-tags > * {
    margin-right: 5px;
}