@page "/galleries"
@using Gallerio.Api.Dtos
@inject HttpClient Http
@inject Gallerio.Web.Client.Services.Breadcrumbs.IBreadcrumbsProvider _breadcrumbsProvider
@inject NavigationManager _navManager

@if (_galleries == null)
{
   <LoadingSpinner></LoadingSpinner>
}
else
{
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
        @foreach (var gallery in _galleries)
        {

            <div class="col">
                <div class="card gallery-card h-100" @onclick="() => GoToGallery(gallery.Id)">
                    <img src="/images/test-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="/Galleries/@gallery.Id">
                                @gallery.Name
                            </a>    
                            </h3>
                        <p class="card-text">@gallery.Description</p>
                    </div>
                    <div class="card-footer text-muted d-flex">
                        <div class="flex-grow-1">
                           @gallery.PhotosTotalCount fotografií • @gallery.Date
                       </div>
                       <div>
                           <span class="oi oi-pencil" aria-hidden="true"></span>
                       </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<GalleryDto>? _galleries;

    private void GoToGallery(Guid id)
    {
        _navManager.NavigateTo($"/Galleries/{id}");
    }

    protected override async Task OnInitializedAsync()
    {
        _galleries = await Http.GetFromJsonAsync<GalleryDto[]>("https://localhost:7173/api/gallery");
        _breadcrumbsProvider.Clear();
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("/", "Home", true));
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("/Galleries", "Galerie", false));
    }
}
