@page "/galleries/{GalleryId}"
@using Gallerio.Api.Dtos
@using Gallerio.Web.Client.Services.LayoutConfiguration
@inject HttpClient Http
@inject ILayoutConfigurationService _layoutConfigurationService
@inject Gallerio.Web.Client.Services.Breadcrumbs.IBreadcrumbsProvider _breadcrumbsProvider
@inject NavigationManager _navManager
@implements IDisposable

@if (gallery == null)
{
    <p><em>Načítám...</em></p>
}
else
{
    <div id="grid-container">
        <div id="grid-container-list">a</div>
        <div id="grid-container-image">b</div>
        <div id="grid-container-meta">c</div>
    </div>
}

@code {
    private GalleryDto? gallery;

    [Parameter]
    public string GalleryId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        gallery = await Http.GetFromJsonAsync<GalleryDto>($"https://localhost:7173/api/Gallery/{GalleryId}");
        _breadcrumbsProvider.Clear();
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("/", "Home", true));
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("/Galleries", "Galerie", true));
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink($"/Galleries/{gallery.Id}", gallery.Name, false));

        _layoutConfigurationService.NoPadding = true;
    }

    public void Dispose()
    {
        _layoutConfigurationService.NoPadding = false;
    }
}
