@page "/galleries"
@using Gallerio.Api.Dtos
@inject HttpClient Http
@inject Gallerio.Web.Client.Services.Breadcrumbs.IBreadcrumbsProvider _breadcrumbsProvider
@inject NavigationManager _navManager

<PageTitle>Galerie</PageTitle>

<h1>Galerie</h1>

@if (galleries == null)
{
    <p><em>Načítám...</em></p>
}
else
{
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
        @foreach (var gallery in galleries)
        {

            <div class="col">
                <div class="card gallery-card" @onclick="() => GoToGallery(gallery.Id)">
                    <img src="/images/test-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="/galleries/@gallery.Id">
                                @gallery.Name
                            </a>    
                            </h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer text-muted d-flex">
                        <div class="flex-grow-1">
                           1520 fotografií • 1. ledna 2022 - 25. ledna 2022
                       </div>
                       <div>
                           <span class="oi oi-pencil" aria-hidden="true"></span>
                       </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private GalleryDto[]? galleries;

    private void GoToGallery(Guid id)
    {
        _navManager.NavigateTo($"/galleries/{id}");
    }

    protected override async Task OnInitializedAsync()
    {
        galleries = await Http.GetFromJsonAsync<GalleryDto[]>("https://localhost:7173/api/Gallery");
        _breadcrumbsProvider.Clear();
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("/", "Home", false));
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("Galleries", "Galerie", true));
    }
}
