#grid-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto 200px;
    grid-template-areas:
        "a b"
        "a c";
    height: calc(100vh - 3.5rem);
}

#grid-container-list {
    grid-area: a;
    overflow-y: scroll;
}

#grid-container-image {
    background-color: green;
    grid-area: b;
}

#grid-container-meta {
    background-color: yellow;
    grid-area: c;
}

#grid-container-list .card-subtitle {
    font-size: 12px;
}

#grid-container-list .card {
    cursor: pointer; 
}

#grid-container-list .card:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
