@page "/"
@inject Gallerio.Web.Client.Services.Breadcrumbs.IBreadcrumbsProvider _breadcrumbsProvider

<h1>Vítejte ve správě galerií a fotografií - Gallerio.</h1>

@code {
   protected override async Task OnInitializedAsync()
    {
        _breadcrumbsProvider.Clear();
    }
}