.button-image-container {
    font-size: 20px;
    border: 1px solid #d6d5d5;
    padding: 0.4rem;
    border-radius: 5px;
    min-width: 40px;
    background-color: white;
    cursor: pointer
}
    .button-image-container:hover {
        background-color: #f7f7f7;
    }