<div class="button-image-group-container d-flex justify-content-center align-items-center">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}
