<div class="loading-spinner-container text-muted @(Class)">
    <div>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Class { get; set; }
}

